<h1>Cadastrar novo post</h1>

<form action="/newpost" method="post">
<dl>
	<dt>Author</dt>
	<dd><input type="text" name="author" /></dd>

	<dt>Title</dt>
	<dd><input type="text" name="title" /></dd>

	<dt>Body</dt>
	<dd><textarea name="body"></textarea></dd>

	<dd><p><input type="submit" name="submit" /></p></dd>
</dl>
</form>